body {
    position: relative;
    width: 1024px;
    /*height: 4000px;*/
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #4e4e4e;
}



/* ---------- Grid Layout whole site - Start */

#pagegridwrapper {
    height: 100vh;
    /*    color: black;*/
    background-color: #87898A;
    display: grid;
    grid-template-columns: 1004px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header-area'
        'content-area'
        'footer-area';
}

    #pagegridwrapper > header {
        grid-area: header-area;
        width: 1024px;
        height: 95px;
        background-color: #dc3545;
        border: 1px solid black;
        z-index: 900;
    }


    #pagegridwrapper > reactcontent {
        grid-area: content-area;
        overflow: auto;
        width: 1000px;
        color: #000;
        padding: 10px 2px 2px 10px;
    }

    #pagegridwrapper > footer {
        grid-area: footer-area;
        /*position: fixed;*/
        /*        bottom: 0px;*/
        width: 1024px;
        height: 60px;
        white-space: nowrap;
        background-color: #dc3545;

    }

.footertext {
    text-align: center;
    line-height: 58px; /* Vertically center the text there */
}

/* ---------- Grid Layout color-profile whole site - End */


/* ---------- navbar in the header - start */
#navmenubox {
    height: 120px;
}

#menulogo {
    height: 95px;
    margin-right: auto;
    padding: 0px;
}


    #menulogo img {
        width: 120px;
        height: auto;
    }

.navbar {
    border: none;
}

.navbar-brand {
    border: none;
}

.navbar-nav {
    color: white;
}

    .navbar-nav .nav-item {
        border: none;
    }

    .navbar-nav .nav-link {
        border: none;
        color: white;
    }


.identitybox {
    position: fixed;
    padding: 2em;
    left: 65%;
    top: 0%;
    transform: translateX(-50%);
    /*    background-color: black;
    color: white;*/
    z-index: 990;
}



.identityloginout {
    position: fixed;
    padding: 0em;
    left: 70%;
    top: 15%;
    transform: translateX(-50%);
    background-color: black;
    color: white !important;
    z-index: 990;
}


/* shoppingCart */
.shopcarticon img {
    width: 40px;
    height: 40px;
}

/* shoppingcartnumberitems */
#shoppingcartnumberitemscircle {
    width: 17px;
    height: 17px;
}

#shoppingcartnumber {
    font-size: 12px;
}

/* ---------- navbar in the header - end */




/* ---------- carosel in the contect-area - Start */
.carouseldiv {
    width: 100%;
    height: 200px;
}

.carouselImage { 
    width: 80%;
    margin:auto;
    height: 200px;
}
/* ---------- carosel in the contect-area - End */




.formlogin {
    width: 400px;
    z-index: 990;
}

#adminorderslist {
    border: 1px solid #D8D8D8;
    width: 90%;
    padding: 10px;
    margin: auto;
}

/*#clickabletablerow {  // this was for clickable table rows.. but that action dident work out
    cursor: pointer;
}
*/



.optionBtnGreen {
    background-color: #2CD32C;
    color: black !important;
    border: 3px solid #000
}

.optionBtnBlue {
    background-color: blue;
    border: 3px solid #000
}

.optionBtnRed {
    background-color: red;
    border: 3px solid #000
}

.optionBtnGray {
    background-color: dimgray;
    border: 3px solid #000;
    color: black !important;
}

.optionBtnGray a {
    color: black !important;
}

.productamount {
    width: 60px;
}



.quotes {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}



/* ---------- CSS for Products.jsx file - start */
.productdiv {
    width: 350px;
    height: 400px;
    padding: 10px 10px 10px 10px;
    margin: 30px;
    border-radius: 15px;
    border: 1px solid black;
}

.product-img {
    /*max-width: 150px;*/
    height: 200px;
    display: block;
    margin: auto;
}

.producttextwrapper {
    /*    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;*/

    color: white;
}

    .producttextwrapper:hover {
        border: 1px solid white;
    }


    .producttextwrapper .product-info{
        height: 100px;
    }
    .producttextwrapper .product-input{
        height: 60px;
    }

    .producttextwrapper input{
        width: 60px;
    }
/* ---------- CSS for Products.jsx file - end */



.contents {
    color: black;
    text-align-last: left;
    line-height: 3px;
}


/*dropdown menu styling in the Header - Start */
.dropbtn {
    background-color: #dc3545;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dc3545;
    opacity: .8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #dc3545
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #dc3545;
}
/*dropdown menu styling in the Header - End */


/* ---------- Register page Css - start */
.btn {
    background-color: #dc3545;
    float: right;
    color: white;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    border: none;
    cursor: pointer;
    outline: none;
}
    .btn:hover {
        color: white;
        background-color: #3e8e41
    }


    .btn:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

.addButton {
    margin: 20px;
}
.registerBtnDiv {
    float:left;
    padding-left: 210px;
    color:white;
}
.form-group {
    margin-bottom: 20px;
    width: 400px;
    padding-left: 100px;
    color:white;
}
/* ---------- Register page Css - end */



/* ---------- Css to Login.jsx - start */
.form-check {
    padding-left: 120px;
    color:white;
}
.logInBtnDiv {
    float: left;
    padding-left: 210px;
}
.submitButton {
    float: left;
    background-color: #dc3545;
}
/* ---------- Css to Login.jsx - end */



/* ----------  Css to UserDetails.jsx*/
.savePasswordButtonDiv {
    padding-left: 180px;
}




/* ----------  Css to ContactUs.jsx*/
.contact_us_contents{
    color:white;
    padding-left:100px;
}



/* ---------- Css To AdminProducts - start */
.admineditorder_img {
    width: 70px;
    height: 70px;
}
.showEditButton {
    background-color: #dc3545;
    color:white;
}
.table {
    width: 96%;
}
.allProductBtn{
    float:left;
    margin-left:100px;
}
.createProductBtn {
    float: left;
    margin-left: 130px;
}
.createBtnDiv {
    float: left;
    margin-left: 210px;
}
.editProductImg{
    width:300px;
    height:200px;
}
.ButtonsEditProducts {
    margin-right: 118px;
}
.backBtn{
    margin-right: 16px;
}
.deleteBtn {
    margin-right: 16px;
}
/* ---------- Css To AdminProducts - end */



/* ---------- Admin Edit Orders*/
.adminEditOrder{
    color:white;
    margin-left:100px;
}
.backBtn{
    text-decoration:none;
}
.saveAndBackBtnDiv{
    margin-right:50px;
}




.quotes {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}